@import '../../variables';

p, h1, h2, h3, h4, h5, span, div, input, textarea {
  font-family: $font-family;
}

.app {
  font-size: 20px;
  color: $dark;
}
.inputs {
  text-align:center;
  margin-top: 40px;
}
.input-group {
  margin-bottom: 1em;
}
.input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

:focus {
  outline: 0;
}
// .brand {
//   $size: 40px;
//   width: $size;
//   height: $size;
//   border-radius: $size / 2;
// }
