@import '../../variables';
.Icons {
  &:hover {
    opacity: .5;
  }

  &.dark {
    * {
      stroke: $dark;
    }
  }

  &.light {
    * {
      stroke: $light;
    }
  }

  &.primary {
    * {
      stroke: $primary;
    }
  }
}
