@import '../../variables';
.Icons {
  svg {
    height: 100%;
    width: 100%;
  }
  &:hover {
    opacity: .5;
  }

  &.dark {
    * {
      stroke: $dark;
    }
  }

  &.light {
    * {
      stroke: $light;
    }
  }

  &.secondary {
    * {
      stroke: $secondary;
    }

    path, ellipse, rect {
      fill: $secondary;
    }
  }

  &.hide {
    display: none;
  }
}
