@import '../../variables';
.Icons {
  &:hover {
    opacity: .5;
  }

  &.dark {
    * {
      stroke: $dark;
    }
  }

  &.light {
    * {
      stroke: $light;
    }
  }

  &.secondary {
    * {
      stroke: $secondary;
    }

    path, ellipse, rect {
      fill: $secondary;
    }
  }
}
